
<section class="featured-products">
    <h2 class="featured-products__heading">
        {{ collections[section.settings.collection].title }}
    </h2>
    <div class="featured-products__items">
        
        {% for product in collections[section.settings.collection].products %}
            
               <a href="{{ product.url }}" class="featured-product__card column">
                  <img class="featured-product__image" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}">
                  <div class="featured-product__info">
                    <h3>{{ product.title }}</h3>
                    <span> {{ product.price | money }} </span>
                    </div> 
                    <form method="post" action="/cart/add">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        <input type="hidden" name="return_to" value="/" />
                        <div class="featured-product__btn-box">
                            <button type="submit" value="Add to cart" class="featured-product__btn" >Add to cart</button> 
                        </div>
                    </form>              
               </a>
        {% endfor %}  
    </div>
</section>

{% schema %}

{
    "name": "Featured Products",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label":"collection"
        }
    ],
    "presets": [
        {
            "name": "Featured Products",
            "category": "Products Display"
        }
    ]
}
{% endschema %}
{% stylesheet %}
.featured-products{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.featured-products__heading{
    margin-bottom: 25px;
}
.featured-products__items{
    align-items:flex-start;
    display:flex;
    justify-content: center;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
.featured-product__card{
    margin-left: 15px;
    margin-right: 15px;
}
.featured-product__image{
    max-width: 100%;
}
.featured-product__info{
    align-items:flex-start;
    display:flex;
    justify-content: space-between;
    padding:5px
}
.featured-product__btn{
    position:relative;
    width:100%;
    background-color: #886CFE;
    color: white;
    border: 5px solid;
    border-color: #886CFE;
    border-radius: 0 0 15px 0;
}
.featured-product__btn:before{
    content: "";
    position: absolute;
    bottom:-5px;
    right:-5px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to top left,transparent 50%, rgb(108,86,203) 0 );
    z-index:1000;
}
.featured-product__btn:hover{
    background-color: white;
    color: black;
    border: 5px solid;
    border-color: #886CFE;
}

@media only screen and (max-width: 770px) {
    .featured-products__heading{
        margin-bottom: 25px;
        margin-left: 15px;
    }
    
    .featured-products__items{
        align-items: flex-start;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap
    }
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 2;
      }
    .featured-product__card{
        width:46%;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
  }
{% endstylesheet %}

{% javascript %}

{% endjavascript %}